{{>header}}
    {{>navigation}}
    
    <section class="content_form_todo my-2">
        <div class="container">
            <h5 class="mt-3">{{dataInfo.head}}</h5>
            <form class="py-2" autocomplete="off">
                <div class="mb-3">
                    <label for="titleTask" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="titleTask" value="{{this.updateData.title}}" />
                </div>
                <div class="mb-3">
                    <label for="contentTask" class="form-label">Content</label>
                    <textarea class="form-control" name="content" id="contentTask" rows="7">{{dataInfo.updateData.content}}</textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="check" name="status" />
                    <label class="form-check-label" for="check">Status</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
{{>footer}}